/* Navigation */
#main-nav .logo {
  justify-self: center;
}
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

#main-nav ul {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
  /* font-weight: bold; */
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

/* Smartphones */
@media (max-width: 600px) {
  #showcase .showcase-container {
    grid-template-columns: 1fr;
  }
  #home-articles .articles-container {
    grid-template-columns: 1fr;
  }
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }
  #main-fooer .footer-container > *:last-child {
    grid-column: 1;
  }
}
